html
  head 
    title="MyBank"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet")
  body 
    div(class="container")
      h2(class="pb-2 border-bottom")="Profile"
        small 
            a(href="/")="Index page"

      h4(class="py-3")="Username:" 
         span(class="px-1 fw-normal")=username

      h4(class="py-3")="Email:"
        span(class="px-1 fw-normal")=email
        a(href="/profile/edit" class="btn btn-primary mx-3")="Edit Email"